# Godot engine cache
.godot/

# macOS noise
.DS_Store

# Note: addons/privchat is a symlink to ../privchat-godot/addons/privchat
# (the privchat Godot addon). Restore by checking out privchat-godot next
# to this repo and recreating the link if lost:
#   ln -sfn ../../privchat-godot/addons/privchat addons/privchat
